 p {
    background-color: black;
    padding: 10px;
    font-family: 'MP Manga Font Bold', sans-serif;

}
 body {
    background-color: black;
    font-size: 22px;
    color: white;

}
 header {
    font-size: 40px;
    word-spacing: 50px;
}


